/*Fondo*/
body {
  background-image: url("https://placekitten.com/g/200/300");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*Barra*/
.barra {
  background-color: rgb(122, 165, 167);
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}

.Barra {
  font-family: "Times New Roman", Times, serif;
  float: left;
  display: block;
  padding: 15px;
  margin-left: 300px;
}

.Barra:hover {
  background-color: rgb(154, 189, 189);
}

#Primero {
  margin-top: 90px;
}

/*Menú desplegable*/
.dropdown {
  position: relative;
  display: block;
}

.dropdown-btn {
  cursor: pointer;
  border: 0px;
  font-size: 16px;
  padding: 16px;
  color: floralwhite;
  background-color: dimgray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(196, 194, 194);
  min-width: 170px;
  box-shadow: 0px 4px 20px rgb(65, 64, 64);
}

.dropdown-content a {
  color: black;
  padding: 12px, 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(238, 226, 226);
}

.dropdown:hover .dropdown-btn {
  background-color: rgb(59, 58, 58);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Formulario estilizado*/
input[type="text"] {
  width: 100%;
  padding: 12px, 20px;
  margin: 8px, 0px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 12px, 20px;
  margin: 8px, 0px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: green;
  width: 100%;
  padding: 14px, 20px;
  margin: 8px, 0px;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.box {
  background-color: ivory;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 20px rgb(65, 64, 64);
}

.hola {
  border: 1px solid;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(to right, yellow, red);
}
